*.[Cc]ache
*.bak
*.DS_Store
[Tt]humbs.db

# images
# dist/img

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# sass
.sass-cache/
*.css.map

# sourcemaps
*.js.map

# E2E reports
test/e2e/reports
test/e2e/screenshots
