.darklight {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: auto;
  min-height: 100vh;
  left: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  background: rgba(30, 30, 30, 0.8);
  z-index: 99;
  overflow: auto; }
  .darklight * {
    box-sizing: border-box; }
  .darklight.is-active {
    visibility: visible;
    opacity: 1; }
  .darklight .close {
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    top: 2rem;
    color: #fff;
    opacity: .5;
    transition: .1s ease-in-out; }
    .darklight .close:hover {
      opacity: 1; }
    .darklight .close .icon {
      width: 25px;
      height: 25px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)); }
    @media (max-width: 599px) {
      .darklight .close {
        position: fixed;
        color: #000;
        top: .5em;
        right: .5em; } }
  .darklight .content {
    position: absolute;
    background: #fff;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    right: 0; }
    @media (max-width: 599px) {
      .darklight .content {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 16px;
        padding-top: 40px; } }
    @media (min-width: 600px) {
      .darklight .content {
        width: 80%;
        height: auto;
        min-height: 85vh;
        margin: 2em auto;
        padding: 1.2em 4em 1em;
        border-radius: 3px; } }
  .darklight img {
    max-width: 100%; }

.no-scroll {
  overflow: hidden; }
